# Porta do Servidor
PORT=3000
NODE_ENV=development

# Configuração da Base de Dados (sqlite ou postgres)
DB_DIALECT=sqlite
DB_STORAGE=./database/retaillaunch.sqlite

# Configuração PostgreSQL (quando utilizado no Synology NAS / Docker)
# DB_DIALECT=postgres
# DB_HOST=postgres
# DB_PORT=5432
# DB_NAME=retaillaunch_db
# DB_USER=retaillaunch_user
# DB_PASSWORD=retaillaunch_secret_pass

# Segurança e JWT
JWT_SECRET=super_secret_retaillaunch_jwt_key_2026
